body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.navbar{
  font-family: "Bebas Neue", cursive;
  font-size: 1.6rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1; 
}

nav div {
  display: flex;
  justify-content: flex-start; 
}

nav div .logo {
  font-size: 2rem;
  font-style: italic; 
}

nav div a {
  margin: 5px;
}

.btnProducto {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.btnProducto:hover,
.btnProducto:focus {
  opacity: .75;
}

.tittle {
  font-size: 25px;
  font-family: 'Peralta', cursive;
  font-weight: 200;
}


.listStyle ul {
  list-style-type: none;
  color: #fff;
  text-align: center;
}
