footer {
    background-color: #221e1e;
    color: #f5f5f5;
    margin-top: 60px;
    padding: 20px;
    bottom: 0px;
    font-size: 20px;
}

footer h5 {
    font-size: 1em;
    font-weight: 600;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
    padding-bottom: 15px;
}

footer p {
    text-align: center;
}

footer .footer-content {
    padding: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

footer .footer-content .footer-info li {
    list-style-type: none;
}

footer .footer-content .footer-info li:first-of-type {
    margin-bottom: 10px;
}

footer .footer-content .footer-redes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

footer .footer-content .footer-redes li {
    list-style-type: none;
}

footer .footer-content .footer-redes li:first-of-type {
    margin-right: 20px;
}

footer .footer-content .footer-redes li i {
    cursor: pointer;
    color: #f5f5f5;
    font-size: 35px;
}